.formWord {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
fieldset{
  border: none;
}
button {
  padding: 10px 20px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #c4c4c4;
  background-color: #fff;
  color: black;
  cursor: pointer;
}
button:hover{
  background-color: black;
  color: #fff;
}

.defaultInput, .success,.close,.wrong{
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border-color: #909090 ;
  outline: none;
  margin: 10px;
  text-align: center;
  font-size: 1.2em;
  border: none;
  background-color: #c4c4c4;
}
.success {
  background-color: rgb(119, 230, 119);
  color: white;
}
.close {
  background-color: rgb(255, 178, 34);
  color: white;
}
.wrong {
  background-color: rgb(248, 78, 78);
  color: white;
}